<!doctype html>
<html>
<title>Data Scientist Salaries</title>
<head>

</head>
<body>

<div ng-app="" ng-controller="salaryController">
  <h1>
      Data Scientist Salaries
      <br/>
      O'Reilly Study 2014
   </h1>

  <h2>
      <p></p>Total Salary: ${{ salary }}
      <hr>
    </h2><h5>

    <form>
        Constant :
        <span ng-bind="constant"></span><br>
        Region :
        <input type="radio" ng-model="region" value="north-east" ng-change="recalculate()" > North East
        <input type="radio" ng-model="region" value="california" ng-change="recalculate()" > California
        <input type="radio" ng-model="region" value="mid-atlantic" ng-change="recalculate()" > Mid-Atlantic
        <input type="radio" ng-model="region" value="europe" ng-change="recalculate()" > Europe
        <input type="radio" ng-model="region" value="asia" ng-change="recalculate()" > Asia
        <input type="radio" ng-model="region" value="other" ng-change="recalculate()" > Other
        <br/>
        Industry:
        <input type="radio" ng-model="industry" value="education" ng-change="recalculate()" > Education
        <input type="radio" ng-model="industry" value="tech" ng-change="recalculate()" > Science and technology
        <input type="radio" ng-model="industry" value="government" ng-change="recalculate()" > Government
        <input type="radio" ng-model="industry" value="other" ng-change="recalculate()" > Other <br>
        Age :
        <input type="text" ng-model="age" ng-change="recalculate()"> <br>
        Years working with data :
        <input type="text" ng-model="years_with_data" ng-change="recalculate()"> <br>
        PhD :
        <input type="radio" ng-model="phd" value="yes" ng-change="recalculate()" > Yes
        <input type="radio" ng-model="phd" value="no" ng-change="recalculate()" > No <br>
        Position level:
        <input type="radio" ng-model="position" value="non-manager" ng-change="recalculate()" > Non-manager
        <input type="radio" ng-model="position" value="tech-lead" ng-change="recalculate()" > Tech-lead
        <input type="radio" ng-model="position" value="manager" ng-change="recalculate()" > Manager
        <input type="radio" ng-model="position" value="executive" ng-change="recalculate()" > Executive <br>
        Portion of role as manager (%):
        <input type="text" ng-model="portion" ng-change="recalculate()"> <br>
        Company size (employees):
        <input type="text" ng-model="company_size" ng-change="recalculate()"> <br>
        Company age (years):
        <input type="text" ng-model="company_age" ng-change="recalculate()"> <br>
        Early startup :
        <input type="radio" ng-model="early_startup" value="yes" ng-change="recalculate()" > Yes
        <input type="radio" ng-model="early_startup" value="no" ng-change="recalculate()" > No <br>
        Cloud computing:
        <input type="radio" ng-model="cloud" value="using" ng-change="recalculate()" > Using
        <input type="radio" ng-model="cloud" value="experimenting" ng-change="recalculate()" > Experimenting
        <input type="radio" ng-model="cloud" value="not using" ng-change="recalculate()" > Not using <br>
        Tool-set cluster :
        <input type="radio" ng-model="cluster" value="microsoft" ng-change="recalculate()" > Microsoft/Oracle
        <input type="radio" ng-model="cluster" value="big data" ng-change="recalculate()" > Hadoop/Spark/MongoDB
        <input type="radio" ng-model="cluster" value="data science" ng-change="recalculate()" > Python/R/Machine Learning <br>
        Tool Count :
        <input type="text" ng-model="tool_count" ng-change="recalculate()"> <br>

        Bonus : <span ng-bind="bonus"></span><br>
        Stock options : <span ng-bind="stock_options"></span><br>
        Stock ownership : <span ng-bind="stock"></span><br>
        Bonus + Stock options + Stock ownership : <span ng-bind="extra_compensation"></span> (included in Total Salary)<br>

    </form>

    
  </h5>
    
    <hr/>

    Tool use information : <br>
    O'Reilly study says 114 tools were listed and 200 more were manually entered in the "other" field. Average
    tool count reported was roughly 10. Only 11% reported using more than 20.

    <p>
        Sampling of common tools: <br>
        Spark, Hadoop, Python, R, Hbase, Scala, Amazon AWS, Hive, Pig, Java, Pentaho, Redis, MongoDB, Hortonworks,
        Cloudera, Linux, Mahout, Splunk, Storm, EMR, MapR, Oracle, Matlab, NLP, numpy/scipy/matplotlib, libsvm, Weka,
        C++, C, Perl, Clojure, AngularJS, Django, Flask, Cassandra, ggplot2 , GraphLab, Shiny, Java Spring, Ruby/Rails
        Julia, Haskell, Zookeeper, Redshift, Flume, D3, Git, bash.
    </p>

    <p> Other Notes</p> <br>
    The O'Reilly study reported a detection of a gender gap of $13K against women. The model intentionally does NOT
    include that term as we do not want to enforce an explicit bias. One might also want to replace Age with some
    measure of experience as we would not really want to use Age explicitly. For example replace "Age" with
    25 + Years of relevant work experience. 

    
<!--end of angular app div -->    
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

<script>
    function salaryController($scope){
    $scope.salary = 0.0;

    //constants
    $scope.constant = 30694;
    $scope.bonus = 17457;
    $scope.stock_options = 21290;
    $scope.stock = 14709;

    //defaults
    $scope.region = "north-east";
    $scope.industry = "tech";
    $scope.age = 40;
    $scope.years_with_data = 20;
    $scope.phd = "yes";
    $scope.position = "tech-lead";
    $scope.portion = "10";
    $scope.company_size = "4000";
    $scope.company_age = "25";
    $scope.early_startup = "no";
    $scope.cloud = "using";
    $scope.cluster = "data science";
    $scope.tool_count = 13;

    //maps
    region_map = {"europe" : 24104, "asia" : 30906, "california" : 25785, "mid-atlantic" : 21750, "north-east" : 17703, "other" : 0.0};
    industry_map = {"education" : -30036, "tech" : -17294 , "government" : -16616, "other" : 0}
    position_map = {"non-manager": 1, "tech-lead" : 2, "manager" : 3, "executive" : 4}
    cloud_map = {"using": 0, "experimenting" : -9196 , "not using" : -12994}
    tool_count_map = {"microsoft": -1112, "big data" : 1645 , "data science" : 1900};

    $scope.recalculate =  function() {
        var salary = 0.0;
        salary = parseFloat($scope.constant);
        salary += region_map[$scope.region];
        salary += industry_map[$scope.industry];
        age_adjustment = 1094 * parseFloat($scope.age);
        salary += age_adjustment;
        salary += 1353 * parseFloat($scope.years_with_data);
        if ($scope.phd == "yes") salary += 11130;
        salary += 10299 * position_map[$scope.position];
        salary += $scope.portion * 326;
        salary += $scope.company_size * 0.90;
        company_age = $scope.company_age;
        if (company_age > 30) company_age = 30;
        salary += -275 * company_age;
        salary += ( parseFloat($scope.bonus) + parseFloat($scope.stock_options) + parseFloat($scope.stock) );
        if ($scope.early_startup == "yes") salary += -17318;
        salary += cloud_map[$scope.cloud];
        salary += parseFloat($scope.tool_count) * tool_count_map[$scope.cluster];

        $scope.extra_compensation = $scope.bonus + $scope.stock_options + $scope.stock;

        $scope.salary = salary;
    };

    $scope.recalculate();
}

</script>



</body>  
</html>
